{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="title p-3 m-3 text-center bg-light border border-opacity-50 border-info-subtle rounded-3">
        <h4>Quality Assurance managing panel</h4>
        <div class="flex-container">
            <div class="d-flex flex-column flex-shrink-0">
                <span class="text-center fw-bold pt-2">Parameters</span>
                <hr class="d-flex" style="margin: 0.5rem">
            </div>
            <div class="modal-body mx-3 my-2">
                <form action="{% url 'qa:datasheet' %}" method="post" autocomplete="off">
                    {% csrf_token %}
                    <div class="row row-cols-lg-8 g-0 d-flex align-items-center justify-content-center">
                        <div class="col-4">
                            <div class="d-flex mx-3">
                                <select class="w-75 form-select form-select-sm rounded-3" name="detector" id="select"
                                        style="height: 2.5rem;">
                                    <option value="">Choose detector</option>
                                    {% for detector in detectors %}
                                        <option value="{{ detector.code }}">{{ detector.code }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <button class="w-50 btn rounded-3 btn-warning" type="submit">Apply</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row bg-light p-3 m-3 border border-opacity-50 border-info-subtle rounded-3">
        <div class="col">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active text-dark fw-bold" id="home-tab" data-bs-toggle="tab"
                            data-bs-target="#home-tab-pane"
                            type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Datasheet
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-dark fw-bold" id="profile-tab" data-bs-toggle="tab"
                            data-bs-target="#profile-tab-pane"
                            type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Plots
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active p-3" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                     tabindex="0">
                    <div class="form-group" style="border-bottom: hidden">
                        <fieldset>
                            <form action="" class="form-group" method="post">
                                <div class="table-responsive">
                                    <div class="table-responsive">
                                        <table id="session-data"
                                               class="table table-borderless table-hover display compact row-border text-center fs-6 mt-2"
                                        >
                                            <thead>
                                            <tr>
                                                <th>Sample</th>
                                                <th>ROI file</th>
                                                <th>QA prep</th>
                                                <th>Date</th>
                                                <th>Lifetime (sec)</th>
                                                <th>Fine gain</th>
                                                <th>Coarse gain</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for session in sessions %}
                                            <tr>
                                                <td>{{ session.sample_name }}</td>
                                                <td>{{ session.roi_file }}</td>
                                                <td>{{ session.qa_prep }}</td>
                                                <td>{{ session.measurement_date }}</td>
                                                <td>{{ session.lifetime }}</td>
                                                <td>{{ detector.fine_gain }}</td>
                                                <td>{{ detector.coarse_gain }}</td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </fieldset>
                    </div>
                    <script>
                        $(document).ready(function () {
                            $('#session-data').DataTable({
                                pageLength: 5,
                                scrollX: true
                            });
                        });
                    </script>
                </div>
                <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                     tabindex="0">...
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
